.calculator-container {
  background-color: #f1efef;
  width: 70%;
  max-width: 40em;
  height: 27em;
  margin: 0 auto;
  padding: 1em;
  margin-top: 3em;
  border-radius: 4px;
}

.div-result {
  text-align: right;
  background-color: rgb(216, 216, 216);
  padding: 0.5em;
  margin-bottom: 0.5em;
  color: #fffefe;
  font-size: 1.2em;
  border-radius: 3px;
}
